<div class="container">

    <h1>Сприсок задач</h1>

    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" id="task" placeholder="Задача" ngModel name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Упс! Что-то пошло не так</small>
        </div>

        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Создать</button>
    </form>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Задачи</th>
                <th scope="col">Статус</th>
                <th scope="col">Удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.taskName}}</td>
                <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Удалить</button></td>
            </tr>

        </tbody>
    </table>
</div>