<div class="modal">
    <div class="modal-content">
      <h2>Edit Meetup</h2>
      <label for="name">Name:</label>
      <input [(ngModel)]="meetup.name" name="name" id="name" />
      <label for="description">Description:</label>
      <input [(ngModel)]="meetup.description" name="description" id="description" />
      <label for="time">Time:</label>
      <input [(ngModel)]="meetup.time" name="time" id="time" />
      <label for="duration">Duration:</label>
      <input [(ngModel)]="meetup.duration" name="duration" id="duration" />
      <label for="location">Location:</label>
      <input [(ngModel)]="meetup.location" name="location" id="location" />
      <label for="target_audience">Target Audience:</label>
      <input [(ngModel)]="meetup.target_audience" name="target_audience" id="target_audience" />
      <label for="need_to_know">Need to Know:</label>
      <input [(ngModel)]="meetup.need_to_know" name="need_to_know" id="need_to_know" />
      <label for="will_happen">Will Happen:</label>
      <input [(ngModel)]="meetup.will_happen" name="will_happen" id="will_happen" />
      <label for="reason_to_come">Reason to Come:</label>
      <input [(ngModel)]="meetup.reason_to_come" name="reason_to_come" id="reason_to_come" />
      <button (click)="onSaveChanges()">Save Changes</button>
    </div>
  </div>
  